[Unit]
Description=Kafka
After=network.target zookeeper.service
Requires=zookeeper.service

[Service]
# User=ec2-user
# Group=ec2-user
Environment="KAFKA_HEAP_OPTS=-Xmx256M -Xms128M"
# Environment="KAFKA_OPTS=-javaagent:/home/ec2-user/prometheus/jmx_prometheus_javaagent-0.3.1.jar=8080:/home/ec2-user/prometheus/kafka-0-8-2.yml"
#ExecStartPre=/bin/sleep 30
ExecStart=/home/ubuntu/kafka/bin/kafka-server-start.sh /home/ubuntu/kafka/config/server.properties
ExecStop=/home/ubuntu/kafka/bin/kafka-server-stop.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
